[submodule "SmartMDSD-Toolchain"]
	path = SmartMDSD-Toolchain
	url = git@github.com:Servicerobotics-Ulm/SmartMDSD-Toolchain.git
[submodule "MOOD2Be"]
	path = MOOD2Be
	url = git@github.com:facontidavide/MOOD2Be.git
